@import "/src/styles/variables";

.create-new-task {
  form {
    display: flex;
    flex-direction: row;
  }

  button {
    margin-left: 25px;
    text-align: center;
    border-radius: 6px;
    width: 100px;
    background-color: $colorBlue;
  }

  button:hover {
    background-color: $colorBlue;
  }
}
