@import "../../styles/variables";
@import "../../styles/button-bootstrap";

.completed-tasks-dropdown {
  margin: 5px 0 20px 0; 
  display: flex;
  justify-content: end;

  button {
    @extend .confirm;
    width: auto;
  }

  .dropdown-item {
    font-family: $dongleRegular;
    font-size: 1.5rem;
    color: $colorGray;

    &:hover {
      color: $colorGray;
    }
  }
}
