@import "/src/styles/variables";

.completed-tasks-dropdown {
  margin: 5px 0;

  button {
    padding: 2px 4px 0 8px;
    border: none;
    border-radius: 6px;
    background-color: $colorBlue;
    font-family: $dongleRegular;
    font-size: 1.5rem;

    &:hover {
      background-color: $colorBlue;
    }

    .show {
      background-color: $colorBlue;
    }
  }

  .dropdown-item {
    font-family: $dongleRegular;
    font-size: 1.5rem;
    color: $colorGray;

    &:hover {
      color: $colorGray;
    }
  }
}
