// Bootstrap styles
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";

h1 {
  &.header {
    font-family: $dongleRegular;
    font-size: 4.5rem;
    color: $colorBlue;
    text-align: center;
    cursor: default;
  }
}
