@import "/src/styles/variables";

.manage-completed-tasks {
  margin: 5px 0;

  button {
    border: none;
    border-radius: 6px;
    background-color: $colorBlue;
  }

  button:hover {
    background-color: $colorBlue;
  }

  button.show {
    background-color: $colorBlue;
  }
}
