@import "/src/styles/variables";
@import "/src/styles/buttonBootstrap";
@import "/src/styles/inputBootstrap";

.create-new-task {
  form {
    display: flex;
    flex-direction: row;
  }

  input {
    @extend .default-input-bootstrap;
  }

  button {
    @extend .confirm-button-bootstrap;
    margin-left: 25px;
  }
}
