/* Apply CSS only for div with class-name "app" */
div.app-div {
  height: 100vh;
  background-color: #fff8eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
