.task-child-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-child-div h1 {
  margin: 0;
  font-family: "Dongle", sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  color: #495057;
}

.task-div hr {
  margin-top: 0;
  border: 2.5px solid #0078bc;
  border-radius: 2.5px;
  opacity: 0.4;
}
