@import "/src/styles/variables";

.task {
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .task-editable-form {
    margin: 0;
    font-family: $dongleLight;
    font-size: 2.5rem;
    color: $colorGray;
    background-color: transparent;
    border-style: none;
    height: 50px;
    width: 70%;
  }

  .task-editable-form:hover {
    animation: shake 0.55s;
  }

  p {
    margin: 0 20px 0 0;
    font-family: $dongleLight;
    font-size: 1.5rem;
    color: $colorGreen;
  }

  input {
    margin-top: -2px;
  }

  hr {
    margin-top: 0;
    border: 2.5px solid $colorBlue;
    border-radius: 2.5px;
    opacity: 0.4;
  }

  @keyframes shake {
    0% { transform: translate(0, 0); }
    10%, 30%, 50%, 70%, 90% { transform: translate(-5px, 0); }
    20%, 40%, 60%, 80% { transform: translate(5px, 0); }
    100% { transform: translate(0, 0); }
  }
}

.selected-task {
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    margin: 0;
    font-family: $dongleLight;
    font-size: 2.5rem;
    color: $colorRed;
    width: 70%;
    // text-decoration: line-through;
  }

  p {
    margin: 0 20px 0 0;
    font-family: $dongleLight;
    font-size: 1.5rem;
    color: $colorRed;
  }

  input {
    display: none;
  }

  hr {
    margin-top: 0;
    border: 2.5px solid $colorBlue;
    border-radius: 2.5px;
    opacity: 0.4;
  }
}
