@import "/src/styles/variables";

.task {
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .task-editable-input {
    margin: 0;
    font-family: $dongleLight;
    font-size: 2.5rem;
    background-color: transparent;
    border-style: none;
    height: 50px;
  }

  .task-editable-input::placeholder {
    color: $colorGray;
  }

  .task-editable-input:hover {
    border: 2.5px solid $colorBlue;
    border-radius: 15px;
  }

  p {
    margin: 0 20px 0 0;
    font-family: $dongleLight;
    font-size: 1.5rem;
    color: $colorGreen;
  }

  input {
    margin-top: -2px;
  }

  hr {
    margin-top: 0;
    border: 2.5px solid $colorBlue;
    border-radius: 2.5px;
    opacity: 0.4;
  }
}

.selected-task {
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .task-editable-input {
    margin: 0;
    font-family: $dongleLight;
    font-size: 2.5rem;
    background-color: transparent;
    border-style: none;
    height: 50px;
    pointer-events: none;
    display: block;
  }

  .task-editable-input::placeholder {
    color: $colorRed;
  }

  p {
    margin: 0 20px 0 0;
    font-family: $dongleLight;
    font-size: 1.5rem;
    color: $colorRed;
  }

  input {
    display: none;
  }

  hr {
    margin-top: 0;
    border: 2.5px solid $colorBlue;
    border-radius: 2.5px;
    opacity: 0.4;
  }
}
