@import "/src/styles/variables";
@import "/src/styles/button-bootstrap";
@import "/src/styles/h1-html";
@import "/src/styles/input-bootstrap";

.forgot-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;

  h1 {
    @extend .h1-header-html;
  }

  form {
    width: 100%;
  }

  input {
    @extend .default-input-bootstrap;
  }

  button {
    @extend .confirm-button-bootstrap;
  }
}
