@import "../../styles/variables";
@import "/src/styles/h1-html";
@import "/src/styles/input-bootstrap";

.forgot-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;

  form {
    width: 100%;
  }

  input {
    @extend .default-input-bootstrap;
  }

  button {
    width: 100px;
  }
}
