$primary: #0078bc;
$secondary: #495057;
$success: #b1cd90;
$danger: #f85638;

// For using Bootstrap inside components. Importing the Bootstrap CSS
@import "~bootstrap/scss/bootstrap";

@import "/src/styles/variables";

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $colorVanilla;
}
