@import "../../styles/variables";

.authentification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;

  form {
    width: 100%;
  }

  .mb-3 {
    .form-label {
      font-family: $openSansRegular;
      font-size: 1.5rem;
      color: $colorGray;
    }
  }

  .authentification-button {
    width: 100px;
  }

  .login-buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    div {
      display: flex;
      flex-direction: column;
    }
  }
}
