@import "/src/styles/variables";

.authentification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;

  h1 {
    font-family: $dongleRegular;
    font-size: 4.5rem;
    color: $colorBlue;
    text-align: center;
  }

  form {
    width: 100%;
  }

  .mb-3 {
    .form-label {
      font-family: $dongleRegular;
      font-size: 2.5rem;
      color: $colorGray;
    }
  }

  input {
    font-family: $dongleRegular;
    font-size: 1.5rem;
  }

  .authentification-button {
    border: none;
    text-align: center;
    border-radius: 6px;
    width: 100px;
    background-color: $colorBlue;
    font-family: $dongleRegular;
    font-size: 1.5rem;

    &:hover {
      background-color: $colorBlue;
    }
  }

  .login-buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    div {
      display: flex;
      flex-direction: column;

      button {
        margin-bottom: 10px;
        border: none;
        text-align: center;
        width: 200px;
        background-color: transparent;
        font-family: $dongleRegular;
        font-size: 1.5rem;
        color: $colorBlue;

        &:hover {
          color: $colorGray;
        }
      }
    }
  }
}
