@import "/src/styles/variables";
@import "/src/styles/button-bootstrap";
@import "/src/styles/h1-html";

.email-confirmation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    @extend .h1-header-html;
  }

  button {
    @extend .confirm-button-bootstrap;
    width: auto;

    &:hover {
      background-color: $colorGray;
      color: $colorVanilla;
    }
  }
}
