@import "../../styles/variables";

.side-bar {
  margin: 0;
  background-color: white;
  width: 25%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  button {
    margin: 5px 0 0 5px;
    padding: 3px 15px;
    font-family: $dongleLight;
    width: auto;
  }

  .side-bar-user-buttons {
    margin-bottom: 5px;
  }
}
