@import "/src/styles/variables";

.side-bar {
  margin: 0;
  background-color: white;
  width: 25%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .btn {
    margin: 5px 0 0 5px;
    background-color: $colorBlue;
    color: $colorVanilla;
    padding: 3px 15px;
    font-family: $dongleLight;
    font-size: 25px;
    border: none;

    &:hover {
      background-color: $colorBlue;
    }
  }

  .side-bar-user-buttons {
    margin-bottom: 5px;

    .btn {
      background-color: $colorRed;

      color: $colorVanilla;
      font-family: $dongleLight;
    }
  }
}
