@import "/src/styles/variables";
@import "/src/styles/buttonBootstrap";
@import "/src/styles/inputHTML";

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 0 10px;

  h1 {
    margin: 0;
    padding-left: 6px;
    font-family: $dongleLight;
    font-size: 2.5rem;
    background-color: transparent;
    color: $colorBlue;
    border-style: none;

    &:hover {
      cursor: pointer;
    }
  }

  input {
    @extend .input-html;
    max-width: 40%;
    max-height: 48px;
  }

  button {
    @extend .confirm-button-bootstrap;

    &.edit-btn {
      @extend .confirm-button-bootstrap-no-bg;
      margin-top: 0;
      width: auto;

      &:hover {
        color: $colorBlue;
      }
    }

    &.delete-btn {
      @extend .confirm-button-bootstrap-no-bg;
      margin: 0 0 0 15px;
      color: $colorRed;
      width: auto;

      &:hover {
        color: $colorRed;
      }
    }
  }

  &.selected-list {
    @extend .list;
    h1 {
      color: $colorGreen;
    }
  }
}
