@import "/src/styles/variables";
@import "/src/styles/ButtonBootstrap";

.new-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;

  h1 {
    font-family: $dongleRegular;
    font-size: 4.5rem;
    color: $colorBlue;
    text-align: center;
    cursor: default;
  }

  form {
    width: 100%;
  }

  input {
    font-family: $dongleRegular;
    font-size: 1.5rem;
  }

  button {
    @extend .confirm-button-bootstrap;
  }
}
