@import "/src/styles/variables";
@import "/src/styles/buttonBootstrap";
@import "/src/styles/h1HTML";
@import "/src/styles/inputBootstrap";

.new-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;

  h1 {
    @extend .h1-header-html;
  }

  form {
    width: 100%;
  }

  input {
    @extend .default-input-bootstrap;
  }

  button {
    @extend .confirm-button-bootstrap;
  }
}
